<nav style="margin-bottom: 20px;" class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="nav-item"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"
      >
        <a class="nav-link" routerLink="/">Главная</a>
      </li>
      <li class="nav-item"
        routerLinkActive="active"
      >
        <a class="nav-link" [routerLink]="'/cars'">Машины</a>
      </li>
    </ul>
  </div>
</nav>
